---
/*
 * SPDX-FileCopyrightText: 2025 Luciano Hillcoat <me@lucdev.net>
 * SPDX-License-Identifier: CC-BY-NC-SA-4.0
 */
import ExperienceCard from "~/components/resume/ExperienceCard.astro";
import CertificationCard from "~/components/resume/CertificationCard.astro";
import PersonCard from "~/components/resume/PersonCard.astro";
import CertificateLegacyNameNote from "./CertificateLegacyNameNote.astro";
import { JobCompany } from "~/types/resume/company";
import { JobLocation, JobLocationType } from "~/types/resume/location";
import { JobTitle } from "~/types/resume/title";
import { compressImage } from "~/helpers/imageHelper";
import tsCertImgJpg from "~/assets/resume/certificates/understanding-typescript.jpg";
import reactCertImgJpg from "~/assets/resume/certificates/react-complete-guide.jpg";
import postgresCertImgJpg from "~/assets/resume/certificates/complete-sql-bootcamp.jpg";
import efSetEnglishCertImgPng from "~/assets/resume/certificates/ef-set-english.png";
import reactTestingJestCertImgPng from "~/assets/resume/certificates/react-testing-jest.png";

const reactTestingJestCertImg = await compressImage(reactTestingJestCertImgPng);
const tsCertImg = await compressImage(tsCertImgJpg);
const reactCertImg = await compressImage(reactCertImgJpg);
const postgresCertImg = await compressImage(postgresCertImgJpg);
const efSetEnglishCertImg = await compressImage(efSetEnglishCertImgPng);
---

<article class="flex flex-col gap-4">
  <PersonCard slot="person-card">
    <Fragment slot="headline">
      <span>Front-end & Web Developer</span>
    </Fragment>
  </PersonCard>

  <section class="mb-4">
    <h3
      class="text-2xl font-medium mb-4 font-display print:font-serif print:font-bold"
    >
      Career Summary
    </h3>
    <div class="flex flex-col gap-2 print:items-start">
      <p>
        Seasoned front-end developer with over 7 years of experience in web
        development, skilled in modern JavaScript frameworks and libraries like
        React, Next.js, and TypeScript.
      </p>
      <p>
        Experienced in using CSS frameworks such as Tailwind CSS and traditional
        styling methods, delivering responsive and user-friendly interfaces that
        align with Figma designs.
      </p>
      <p>
        Luciano has worked on a variety of projects, from static websites to
        dynamic applications, focusing on building reusable components,
        improving performance, and refining application structure.
      </p>
      <p>
        Flexible and adaptable, Luciano quickly learns and applies new tools,
        frameworks, and techniques to meet project needs and deliver quality
        results.
      </p>
    </div>
  </section>

  <section class="mb-4">
    <h3
      class="text-2xl font-medium mb-4 font-display print:font-serif print:font-bold"
    >
      Summary of Qualifications
    </h3>
    <div class="flex flex-col gap-2 print:items-start">
      <div class="grid grid-cols-2 sm:grid-cols-3 gap-2">
        <ul class="list-disc list-inside flex flex-col gap-2">
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>React</li>
          <li>Next.js</li>
        </ul>
        <ul class="list-disc list-inside flex flex-col gap-2">
          <li>HTML</li>
          <li>CSS</li>
          <li>Sass/SCSS</li>
          <li>Tailwind CSS</li>
        </ul>
        <ul class="list-disc list-inside flex flex-col gap-2">
          <li>Docker</li>
          <li>Git</li>
          <li>GitHub Actions</li>
          <li>PostgreSQL</li>
        </ul>
      </div>
    </div>
  </section>

  <section class="mb-4">
    <h3
      class="text-2xl font-medium mb-4 font-display print:font-serif print:font-bold"
    >
      Languages
    </h3>
    <div class="flex flex-col gap-2 print:items-start">
      <ul class="list-disc list-inside flex flex-row items-center gap-4">
        <li>English (advanced)</li>
        <li>Spanish (native)</li>
      </ul>
    </div>
  </section>

  <section class="mb-4">
    <h3
      class="text-2xl font-medium mb-4 font-display print:font-serif print:font-bold"
    >
      Professional Experience
    </h3>
    <div class="flex flex-col gap-4">
      <ExperienceCard
        title={JobTitle.frontend_dev}
        companyName={JobCompany.globant}
        startDate={new Date("2024-08-01T00:00:00.000Z")}
        location={JobLocation.mdq}
        locationType={JobLocationType.hybrid}
      >
        <li>
          Contributed to the development and enhancement of our client's learner
          platform, a solution for training employees through video-based
          lessons, by resolving issues, implementing new features, and ensuring
          effective and engaging learning experiences.
        </li>
        <li>
          Utilized a modern tech stack including Next.js with server actions,
          React.js, and Tailwind CSS to build scalable and maintainable learner
          platform front-end solutions, while collaborating on microservices
          development using TypeScript and MongoDB to ensure efficient and
          reliable back-end microservices. The entire platform is hosted on AWS
          ECS with Docker containers to ensure scalability and streamlined
          deployment processes.
        </li>
        <li>
          Collaborated with cross-functional teams to deliver high-quality user
          interfaces and exceptional user experiences.
        </li>
        <li>
          Wrote and maintained unit tests using Jest to ensure robust and
          reliable functionality.
        </li>
        <li>
          Implemented best practices for front-end development, including
          performance optimization and accessibility.
        </li>
        <li>
          Participated in code reviews and provided constructive feedback to
          team members.
        </li>
        <li>
          Patched more than 60 security vulnerabilities in the codebase,
          enhancing the overall security of the application.
        </li>
        <li>
          Refactored the authentication with Auth0 to implement refresh tokens.
        </li>
        <ExperienceCard
          title={JobTitle.frontend_dev}
          companyName={JobCompany.free}
          startDate={new Date("2024-05-24T13:45:11-03:00")}
          endDate={new Date("2024-11-01T00:00:00.000Z")}
          location={JobLocation.mdq}
          locationType={JobLocationType.remote}
          projectName="HamsterKombo"
        >
          <li>
            Developed a responsive, mobile-first, static website for Web3 Games
            using Astro.js, Tailwind CSS, and TypeScript, which reached over 1
            million users in 30 days.
          </li>
          <li>
            Developed the user interface using the Figma design to ensure the
            best-looking and user-friendly experience.
          </li>
          <li>
            Optimized performance by leveraging modern image formats (WebP,
            AVIF) and loading scripts and stylesheets asynchronously.
          </li>
          <li>
            Implemented SEO best practices, including meta descriptions,
            OpenGraph and Twitter card information, and optimal page word count.
          </li>
          <li>
            Implemented AdSense for monetization and Google Analytics for user
            behavior analysis.
          </li>
          <li>Leveraged GitHub Actions for CI/CD.</li>
        </ExperienceCard>

        <ExperienceCard
          title={JobTitle.frontend_dev}
          startDate={new Date("2023-01-01T00:00:00.000Z")}
          endDate={new Date("2023-06-15T00:00:00.000Z")}
          location={JobLocation.bsas}
          locationType={JobLocationType.remote}
          companyName={JobCompany.cognizant}
        >
          <li>
            Built a responsive web application to track employee career history,
            training sessions, and skills using Next.js, TypeScript, and CSS
            Modules.
          </li>
          <li>
            Worked in a Kanban-driven Agile environment, managing tasks through
            Azure DevOps boards.
          </li>
          <li>
            Translated Figma designs into high-quality, type-safe React
            components.
          </li>
          <li>
            Assisted team members in delivering polished features within
            deadlines.
          </li>
          <li>
            Integrated remote Web Components into the React application using
            Webpack module federation.
          </li>
          <li>
            Applied React Context for managing application state and utilized
            Vercel's SWR for data fetching.
          </li>
          <li>
            Used Docker containerization to enhance deployment workflows and
            ensure consistent environments.
          </li>
        </ExperienceCard>

        <ExperienceCard
          title={JobTitle.frontend_dev}
          companyName={JobCompany.cognizant}
          startDate={new Date("2021-08-01T00:00:00.000Z")}
          endDate={new Date("2023-01-01T00:00:00.000Z")}
          location={JobLocation.bsas}
          locationType={JobLocationType.remote}
        >
          <li>
            Contributed to the development and maintenance of a Single Page
            Application (SPA) for document management using React.js, developed
            for a leading client in the audit industry (Big 4).
          </li>
          <li>
            Worked as part of an international Agile team, communicating in
            English and following the Kanban methodology with Azure DevOps for
            task management.
          </li>
          <li>
            Prepared detailed technical design documents and estimated user
            stories to streamline the development process.
          </li>
          <li>
            Delivered high-quality React components and modernized legacy code
            to align with functional component standards and best practices.
          </li>
          <li>
            Designed and maintained a normalized React-Redux store to ensure
            efficient state management.
          </li>
          <li>
            Leveraged Axios and custom interceptors to seamlessly handle API
            data from the back end.
          </li>
          <li>
            Created atomic styles using the styled-components library, combined
            with SCSS for flexible and scalable styling.
          </li>
          <li>
            Used modern Web Platform APIs to enable desktop screenshot capture,
            allowing users to annotate and embed images into documents.
          </li>
          <li>
            Built a print-friendly interface for specific components to support
            the client's need for physical documentation.
          </li>
          <li>
            Guided a new team member in learning React.js and modern development
            practices, accelerating their integration and boosting team
            efficiency.
          </li>
        </ExperienceCard>

        <ExperienceCard
          title={JobTitle.fullstack_dev}
          companyName={JobCompany.kimn}
          startDate={new Date("2015-03-01T00:00:00.000Z")}
          endDate={new Date("2018-12-01T00:00:00.000Z")}
          location={JobLocation.mdq}
          locationType={JobLocationType.insite}
        >
          <li>
            Refactored a legacy codebase, applying solid practices to improve
            maintainability and performance.
          </li>
          <li>
            Fixed front-end bugs using PHP, HTML4, and CSS, ensuring a smoother
            user experience.
          </li>
          <li>
            Ported old jQuery code into modern vanilla JavaScript, improving
            readability and performance.
          </li>
          <li>
            Developed new features, including user-facing functionalities and
            administrative tools.
          </li>
          <li>
            Connected the front-end with a .NET backend, ensuring seamless
            integration and data flow.
          </li>
          <li>
            Wrote backend code using C# and the .NET Framework, implementing
            business logic and APIs.
          </li>
          <li>
            Designed and optimized SQL Server queries for efficient data storage
            and retrieval.
          </li>
        </ExperienceCard>
      </ExperienceCard>
    </div>
  </section>

  <section class="mb-4">
    <h3
      class="text-2xl font-medium mb-4 font-display print:font-serif print:font-bold"
    >
      Certifications
    </h3>
    <div class="flex flex-col gap-4">
      <CertificationCard
        title="React Testing Library and Jest: The Complete Guide"
        issuedBy="Stephen Grider (via Udemy)"
        issuedDate="December 2024"
        certUrl="https://www.udemy.com/certificate/UC-b8ee67fd-9812-4d35-b0e3-1c7550f8979e/"
        certImage={reactTestingJestCertImg.src}
      >
        <p class="mb-2">
          In order to understand more Unit testing in Web UI applications,
          Luciano took a self-paced course on React Testing Library and Jest.
        </p>
        <ul class="list-disc list-inside flex flex-col gap-2">
          <li>Finding elements using accesible names and roles</li>
          <li>When to use the different query functions</li>
          <li>Jest Matchers</li>
          <li>Mocking modules</li>
          <li>Solving Act errors</li>
          <li>Debugging tests</li>
          <li>Mocking network requests using MSW</li>
          <li>Tests around authentication</li>
          <li>Fixing third-party libraries to run on test environments</li>
          <li>Hands-on experience adding tests to an existing application</li>
        </ul>
      </CertificationCard>

      <CertificationCard
        title="Understanding TypeScript"
        issuedBy="Academind (via Udemy)"
        issuedDate="February 2023"
        certUrl="https://www.udemy.com/certificate/UC-7cf4e6d7-e79f-46a1-8d56-c4731b0136d8/"
        certImage={tsCertImg.src}
      >
        <p class="mb-2">
          Completed an intensive 15-hour TypeScript course, covering a wide
          range of advanced topics including:
        </p>
        <ul class="list-disc list-inside flex flex-col gap-2">
          <li>Primitive, Union, and Object Types</li>
          <li>Tuples and Enums</li>
          <li>Function Types and TSC Flags</li>
          <li>Classes, Abstract Classes, and Inheritance</li>
          <li>Interfaces and Access Modifiers</li>
          <li>Design Patterns (e.g., Singleton)</li>
          <li>Modern JavaScript Features (Spread Operator, Arrow Functions)</li>
          <li>Decorators and Generics</li>
          <li>Modules and Namespaces</li>
        </ul>
        <p>
          This in-depth study enhanced Luciano&#39;s expertise in TypeScript,
          contributing to their ability to write more robust and maintainable
          code.
        </p>
        <CertificateLegacyNameNote />
      </CertificationCard>
      <CertificationCard
        title="React: The Complete Guide"
        issuedBy="Academind (via Udemy)"
        issuedDate="July 2022"
        certUrl="https://www.udemy.com/certificate/UC-b40f930d-d308-4c47-bd31-c3b98fcce89d/"
        certImage={reactCertImg.src}
      >
        <p>
          Completed an extensive 48-hours long React course to enhance skills
          and stay current with best practices.
        </p>

        <p class="mb-2">
          This self-guided learning effort proved instrumental upon joining
          Cognizant Softvision, enabling valuable contributions to a
          high-profile client project.
        </p>
        <CertificateLegacyNameNote />
      </CertificationCard>

      <CertificationCard
        title="The Complete SQL Bootcamp"
        issuedBy="Pierian Training (via Udemy)"
        issuedDate="January 2023"
        certUrl="https://www.udemy.com/certificate/UC-42309009-1c9c-4107-acb5-a925218b7f83"
        certImage={postgresCertImg.src}
      >
        <p>
          Motivated to advance their database expertise, Luciano completed an
          in-depth SQL course, showcasing strong skills in SQL database
          management.
        </p>
        <p>
          <em class="italic"
            >Note: Luciano was known as “Luciana” at that time.</em
          >
        </p>
      </CertificationCard>

      <CertificationCard
        title="EF SET English Certificate"
        issuedBy="EF Standard English Test"
        issuedDate="February 2023"
        certUrl="https://www.efset.org/cert/HbTawN"
        certImage={efSetEnglishCertImg.src}
      >
        <p class="mb-2">
          Highlighting Luciano's commitment to improving their English skills,
          they earned the EF SET English Certificate, showcasing their advanced
          fluency and proficiency in both written and spoken English.
        </p>

        <ul class="list-disc list-inside flex flex-col gap-2">
          <li>C2 Proficient 72/100</li>
          <li>Proficient in both spoken and written language.</li>
          <li>
            Comprehends fast-paced speech with regional accents and a range of
            written texts, including complex materials.
          </li>
        </ul>
        <CertificateLegacyNameNote />
      </CertificationCard>
    </div>
  </section>
</article>
