---
/*
 * SPDX-FileCopyrightText: 2025 Luciano Hillcoat <me@lucdev.net>
 * SPDX-License-Identifier: AGPL-3.0-only
 */

export interface Props {
  title: string;
  issuedBy: string;
  issuedDate: string;
  certUrl: string;
  certImage?: string;
}

const { title, issuedBy, issuedDate, certUrl, certImage } = Astro.props;
---

<div class="flex flex-col mb-2 gap-2">
  <div
    class="flex flex-col sm:flex-row gap-2 items-start sm:justify-between mb-4"
  >
    <div class="flex flex-col gap-2 items-start">
      <h4
        class="text-xl font-medium font-display print:font-serif print:font-bold"
      >
        {title}
      </h4>
    </div>
    <div class="flex flex-col gap-2 items-start sm:items-end">
      <p class="font-medium">{issuedBy}</p>
      <div class="flex flex-row gap-2 items-end">
        <p>{issuedDate}</p>
      </div>
    </div>
  </div>

  <slot />

  <a
    href={certUrl}
    target="_blank"
    class="underline hover:text-cyan-600 hover:dark:text-cyan-400 max-w-fit print:hidden"
    >Certificate Link</a
  >

  <span class="hidden print:block">
    <span>Certificate:</span>
    <a
      href={certUrl}
      target="_blank"
      class="inline-block underline text-sky-700">{certUrl}</a
    >
  </span>

  {
    certImage && (
      <a
        href={certUrl}
        target="_blank"
        class="max-w-fit"
        title={`Certificate of Completion: ${title}`}
      >
        <img
          src={certImage}
          alt={`Certificate of Completion: ${title}`}
          class="sm:max-w-[600px] rounded-lg"
        />
      </a>
    )
  }
</div>
