---
export interface Props {
  title: string;
  issuedBy: string;
  issuedDate: string;
  certUrl: string;
  length?: string;
  items: string[][];
  itemsTitle: string;
  includesPractice: boolean;
}

const { title, issuedBy, issuedDate, certUrl, length, includesPractice } =
  Astro.props;
---

<div class="flex flex-col mb-2 gap-2">
  <div class="flex flex-row gap-2 items-start justify-between mb-4">
    <div class="flex flex-col gap-2 items-start">
      <h4
        class="text-xl font-medium font-display print:font-serif print:font-bold"
      >
        {title}
      </h4>
      <p>{issuedBy}</p>
    </div>
    <div class="flex flex-col gap-2 items-end">
      <div class="flex flex-row gap-2 items-end">
        <span class="flex items-center gap-2">
          <span>Issued: {issuedDate}</span>
          {
            length && (
              <span>
                {`Length: ${length}${includesPractice ? " + Practice" : ""}`}
              </span>
            )
          }
        </span>
      </div>
    </div>
  </div>

  <slot />

  <a
    href={certUrl}
    target="_blank"
    class="underline hover:text-cyan-600 hover:dark:text-cyan-400 print:hidden"
    >View Certificate</a
  >
  <span class="print:inline-block hidden">Certificate:</span>
  <a
    href={certUrl}
    target="_blank"
    class="print:inline-block hidden underline text-sky-700">{certUrl}</a
  >
</div>
