---
import {
  formatDateTime,
  DateTimeFormattingConfig
} from "~/helpers/formatDateTime";
import type { JobTitle } from "~/types/resume/title";
import type { JobCompany } from "~/types/resume/company";
import type { JobLocation, JobLocationType } from "~/types/resume/location";

export interface Props {
  title: JobTitle;
  companyName: JobCompany;
  startDate: Date;
  endDate?: Date;
  location: JobLocation;
  locationType: JobLocationType;
  projectName?: string;
}

const {
  title,
  companyName,
  startDate,
  endDate,
  location,
  locationType,
  projectName
} = Astro.props as Props;

const dateFormat = DateTimeFormattingConfig.MonthLongYearOnly;

// const timeTotal = prettyPrintDateDifference(roundDateDifference(dateDifference(startDate, endDate ?? new Date())));
---

<div class="flex flex-col mb-2 gap-2">
  <div class="flex flex-row gap-2 items-start justify-between mb-4">
    <div class="flex flex-col gap-2 items-start">
      <h4
        class="text-xl font-medium font-display print:font-serif print:font-bold"
      >
        {companyName}
      </h4>
      <p>
        {projectName ? `${title} - ${projectName} project` : title}<p></p>
        <div class="flex flex-col gap-2 items-end">
          <span class="flex items-center gap-2 font-medium">
            {location} ({locationType})
          </span>
          <div class="flex flex-row gap-2 items-end">
            <span class="flex items-center gap-2">
              {
                endDate
                  ? `${formatDateTime(startDate, dateFormat)} - ${formatDateTime(endDate, dateFormat)}`
                  : `${formatDateTime(startDate, dateFormat)} - Present`
              }
            </span>
          </div>
        </div>
      </p>
      <ul class="flex flex-col gap-2 list-disc ml-4">
        <slot />
      </ul>
    </div>
  </div>
</div>
