---
import { DateTimeFormattingConfig, formatDateTime } from "~/helpers/formatDateTime";
import BaseLayout from "../layouts/BaseLayout.astro";
import { authorName, siteTitle } from "~/consts";
const title = "Copyright Policy";
const datePublished = new Date("2024-07-16T20:08:40.899Z");
const dateModified = new Date("2024-07-16T20:08:40.899Z");

const siteAuthorFullName = authorName.join(" ");

const lastUpdatedFormatted = formatDateTime(datePublished, DateTimeFormattingConfig.DayShortMonthYear);
---

<BaseLayout
  title={title}
  metaDescription=`${siteTitle} - Learn about our copyright policy`
  datePublished={datePublished}
  dateModified={dateModified}
>
  <h1 class="font-display text-3xl font-medium mb-4">{title}</h1>
  <div class="prose dark:prose-invert prose-headings:font-display">
    <em>Last Updated: {lastUpdatedFormatted}</em>
    <p>
      Welcome to {siteTitle}, operated by {siteAuthorFullName}, hereinafter referred to as "the website owner". This policy
      outlines the website owner's stance on copyright and the use of copyrighted materials on
      this site.
    </p>

    <h2>Copyrighted Materials</h2>
    <p>
      All content on this website, including text, graphics, logos, icons,
      images, software, and user-experience components (such as stylesheets,
      and layouts) is the exclusive property of the website owner, except
      where noted otherwise. This includes the logo and banners. These
      materials are protected by international copyright laws.
    </p>

    <p>
      Unauthorized use, reproduction, distribution, display, or creation of
      derivative works based on the website owner's copyrighted materials without prior
      written permission is strictly prohibited.
    </p>

    <h2>Use of Copyrighted Materials</h2>
    <p>
      Documents and resources available for download from this website may be
      used for informational, non-commercial, or personal use only, provided
      they retain all copyright and proprietary notices. Modification or
      further distribution of these documents is prohibited.
    </p>

    <h2>Use of Code Snippets</h2>
    <p>
      Any code snippets shared in blog posts on this website are free to use,
      even for commercial purposes, and no attribution is required. The website owner encourages
      you to use these code snippets to enhance your projects and applications. <br/>
      This does not include the code that is being served for the website to function, such as the HTML, JavaScript, and CSS that compose the entire site. <br />
      It specifically refers to individual code snippets shared in blog posts.
    </p>

    <h2>Changes to This Policy</h2>
    <p>
      The website owner reserves the right to update this policy at any time. Please review
      this page periodically for changes.
    </p>
  </div>
</BaseLayout>
