---
import Head from "~/components/Head.astro";
import ExperienceCard from "~/components/resume/ExperienceCard.astro";
import CertificationCard from "~/components/resume/CertificationCard.astro";
import PersonCard from "~/components/resume/PersonCard.astro";
import ResumeBody from "~/components/resume/ResumeBody.astro";
import CertificateLegacyNameNote from "~/components/resume/CertificateLegacyNameNote.astro";
import { siteCreationDate } from "~/consts";
import BaseLayout from "~/layouts/BaseLayout.astro";
import { JobCompany } from "~/types/resume/company";
import { JobLocation, JobLocationType } from "~/types/resume/location";
import { JobTitle } from "~/types/resume/title";
import { compressImage } from "~/helpers/imageHelper";
import tsCertImgJpg from "~/assets/resume/certificates/understanding-typescript.jpg";
import reactCertImgJpg from "~/assets/resume/certificates/react-complete-guide.jpg";
import postgresCertImgJpg from "~/assets/resume/certificates/complete-sql-bootcamp.jpg";
import efSetEnglishCertImgPng from "~/assets/resume/certificates/ef-set-english.png";

const tsCertImg = await compressImage(tsCertImgJpg);
const reactCertImg = await compressImage(reactCertImgJpg);
const postgresCertImg = await compressImage(postgresCertImgJpg);
const efSetEnglishCertImg = await compressImage(efSetEnglishCertImgPng);

const lastUpdated = new Date("2024-07-22T21:05:11.401Z");
---

<BaseLayout>
  <Head
    slot="head"
    title="Resume"
    metaDescription="My professional resume."
    datePublished={siteCreationDate}
    dateModified={lastUpdated}
  />
  <ResumeBody>
    <PersonCard slot="person-card">
      <Fragment slot="headline">
        <span>Front-end & Web Developer</span>
      </Fragment>
    </PersonCard>
    <Fragment slot="career-summary">
      <p>
        Experienced front-end developer with more than 7 years in web
        development, focusing on modern JavaScript frameworks and libraries.
      </p>
      <p>
        Proficient in React, Next.js, and TypeScript, with strong skills in CSS
        frameworks such as Tailwind CSS.
      </p>
      <p>
        Luciano has worked on a variety of projects, from static websites to
        dynamic applications, with a particular talent for transforming Figma UI
        designs into responsive, functional user interfaces.
      </p>
      <p>
        Their background includes both freelance projects and positions at
        well-known companies like Cognizant Softvision, where they specialized
        in building reusable, type-safe components and enhancing application
        architecture.
      </p>
    </Fragment>
    <div
      slot="qualifications-summary"
      class="grid grid-cols-2 sm:grid-cols-3 gap-2"
    >
      <ul class="list-disc list-inside flex flex-col gap-2">
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>React</li>
        <li>Next.js</li>
      </ul>
      <ul class="list-disc list-inside flex flex-col gap-2">
        <li>HTML</li>
        <li>CSS</li>
        <li>Sass/SCSS</li>
        <li>Tailwind CSS</li>
      </ul>
      <ul class="list-disc list-inside flex flex-col gap-2">
        <li>Docker</li>
        <li>Git</li>
        <li>GitHub Actions</li>
        <li>PostgreSQL</li>
      </ul>
    </div>
    <ul
      slot="languages"
      class="list-disc list-inside flex flex-row items-center gap-4"
    >
      <li>English (advanced)</li>
      <li>Spanish (native)</li>
    </ul>
    <Fragment slot="experience-cards">
      <ExperienceCard
        title={JobTitle.frontend_dev}
        companyName={JobCompany.globant}
        startDate={new Date("2024-08-01T00:00:00.000Z")}
        location={JobLocation.mdq}
        locationType={JobLocationType.hybrid}
      >
        <li>
          Contributing to the development and enhancement of our client's
          learner platform, a solution for training employees through
          video-based lessons, by resolving issues, implementing new features,
          and ensuring effective and engaging learning experiences
        </li>
        <li>
          Collaborating with cross-functional teams to deliver high-quality user
          interfaces and exceptional user experiences
        </li>
        <li>
          Writing and maintaining unit tests using Jest to ensure robust and
          reliable functionality
        </li>
        <li>
          Implementing best practices for front-end development, including
          performance optimization and accessibility
        </li>
        <li>
          Contributing to the development of reusable components and design
          systems to streamline development and ensure consistency
        </li>
        <li>
          Participating in code reviews and providing constructive feedback to
          team members
        </li>
        <li>
          Staying up-to-date with the latest trends and advancements in
          front-end technologies to apply innovative solutions
        </li>
      </ExperienceCard>
      <ExperienceCard
        title={JobTitle.frontend_dev}
        companyName={JobCompany.free}
        startDate={new Date("2024-05-24T13:45:11-03:00")}
        endDate={new Date("2024-11-01T00:00:00.000Z")}
        location={JobLocation.mdq}
        locationType={JobLocationType.remote}
        projectName="HamsterKombo"
      >
        <li>
          Developed a responsive, mobile-first, static website for Web3 Games
          using Astro.js, Tailwind CSS, and TypeScript, that reached over 1
          million users in 30 days
        </li>
        <li>
          Developed the user-interface using the Figma design alongside to
          ensure the best looking and friendly experience
        </li>
        <li>
          Optimizing performance by leveraging modern image formats (WebP, AVIF)
          and loading scripts and stylesheets asynchronously
        </li>
        <li>
          Implemented SEO best practices including meta descriptions, OpenGraph
          and Twitter card information, and optimal page word count
        </li>
        <li>
          Implemented AdSense for monetization and Google Analytics for
          user-behavior analysis
        </li>
        <li>Leveraging Github Actions for CI/CD</li>
      </ExperienceCard>

      <ExperienceCard
        title={JobTitle.fullstack_dev}
        companyName={JobCompany.free}
        startDate={new Date("2023-10-01T00:00:00.000Z")}
        endDate={new Date("2024-08-01T00:00:00.000Z")}
        location={JobLocation.mdq}
        locationType={JobLocationType.remote}
        projectName="CommentsApp"
      >
        <li>
          Pioneered an in-progress platform to empower developers to integrate
          widgets into their products, built with Next.js, TypeScript, Tailwind
          CSS, and PostgreSQL database
        </li>
        <li>
          Implemented best React.js optimization practices, such as memorizing
          components and callbacks
        </li>
        <li>
          Leveraged a code editor using Monaco for enhanced development
          experience
        </li>
        <li>
          Created custom components including a Toaster notification using
          Framer Motion for swift animations
        </li>
        <li>
          Utilized Next.js App Router and Zustand for efficient state management
        </li>
        <li>
          Developed authentication and authorization manually using JWT tokens
          and Next.js API routes
        </li>
        <li>
          Validated forms using react-hook-form and Zod for robust schema
          checking
        </li>
        <li>Leveraged Docker containers for streamlined deployment</li>
      </ExperienceCard>

      <ExperienceCard
        title={JobTitle.frontend_dev}
        startDate={new Date("2023-01-01T00:00:00.000Z")}
        endDate={new Date("2023-06-15T00:00:00.000Z")}
        location={JobLocation.bsas}
        locationType={JobLocationType.remote}
        companyName={JobCompany.cognizant}
      >
        <li>
          Developed a responsive web application to track employees' career
          history, training, and skills, built using Next.js, TypeScript, and
          CSS Modules
        </li>
        <li>
          Collaborated in an Agile team (Kanban style) using Azure DevOps board
          for project management
        </li>
        <li>
          Translated Figma UI designs into efficient, type-safe React components
        </li>
        <li>
          Proactively assisted team members to deliver high-quality features on
          schedule
        </li>
        <li>
          Implemented Webpack module federation to integrate remote Web
          Components into the React application
        </li>
        <li>
          Utilized React Context for state management and Vercel's SWR for
          efficient data fetching
        </li>
        <li>
          Implemented Docker containerization to enhance deployment efficiency
          and environment reproducibility
        </li>
      </ExperienceCard>

      <ExperienceCard
        title={JobTitle.frontend_dev}
        companyName={JobCompany.cognizant}
        startDate={new Date("2021-08-01T00:00:00.000Z")}
        endDate={new Date("2023-01-01T00:00:00.000Z")}
        location={JobLocation.bsas}
        locationType={JobLocationType.remote}
      >
        <li>
          Contributed to the development and success of a Single Page
          Application (SPA) for document management, built in React.js, for a
          major client in the audits sector (Big 4)
        </li>
        <li>
          Collaborated in an international, English-speaking Agile team using
          Kanban methodology and Azure DevOps for project management
        </li>
        <li>
          Estimated user stories and authored in-depth technical design
          documents prior to assignment commencement
        </li>

        <li>
          Delivered high-quality React components and refactored legacy code to
          adhere to new functional component standards and best practices
        </li>

        <li>
          Implemented and normalized React-Redux store for efficient state
          management
        </li>

        <li>
          Utilized Axios and Axios interceptors for fetching back-end API data
        </li>

        <li>
          Styled components atomically using styled-components library with SCSS
          pre-processor
        </li>

        <li>
          Utilized modern Web Platform APIs to capture desktop screenshots,
          enabling users to annotate and incorporate images into documents
        </li>

        <li>
          Developed a print-friendly page for specific components to meet
          client's physical documentation needs
        </li>

        <li>
          Mentored a new team member in React.js and modern web development
          practices, accelerating their onboarding and enhancing overall team
          productivity
        </li>
      </ExperienceCard>

      <ExperienceCard
        title={JobTitle.frontend_dev}
        companyName={JobCompany.kimn}
        startDate={new Date("2015-03-01T00:00:00.000Z")}
        endDate={new Date("2018-12-01T00:00:00.000Z")}
        location={JobLocation.mdq}
        locationType={JobLocationType.insite}
      >
        <li>
          Navigated and refactored extensive legacy codebase for an insurance
          system, enhancing system performance and maintainability while
          developing advanced problem-solving and debugging skills
        </li>
        <li>
          Fixing front-end bugs in a big legacy codebase using PHP, HTML4 and
          CSS
        </li>
        <li>Porting old jQuery code into efficient vanilla JavaScript</li>
      </ExperienceCard>
    </Fragment>
    <Fragment slot="certification-cards">
      <CertificationCard
        title="Understanding TypeScript"
        issuedBy="Academind (via Udemy)"
        issuedDate="February 2023"
        certUrl="https://www.udemy.com/certificate/UC-7cf4e6d7-e79f-46a1-8d56-c4731b0136d8/"
        certImage={tsCertImg.src}
      >
        <p class="mb-2">
          Completed an intensive 15-hour TypeScript course, covering a wide
          range of advanced topics including:
        </p>
        <ul class="list-disc list-inside flex flex-col gap-2">
          <li>Primitive, Union, and Object Types</li>
          <li>Tuples and Enums</li>
          <li>Function Types and TSC Flags</li>
          <li>Classes, Abstract Classes, and Inheritance</li>
          <li>Interfaces and Access Modifiers</li>
          <li>Design Patterns (e.g., Singleton)</li>
          <li>Modern JavaScript Features (Spread Operator, Arrow Functions)</li>
          <li>Decorators and Generics</li>
          <li>Modules and Namespaces</li>
        </ul>
        <p>
          This in-depth study enhanced Luciano&#39;s expertise in TypeScript,
          contributing to their ability to write more robust and maintainable
          code.
        </p>
        <CertificateLegacyNameNote />
      </CertificationCard>
      <CertificationCard
        title="React: The Complete Guide"
        issuedBy="Academind (via Udemy)"
        issuedDate="July 2022"
        certUrl="https://www.udemy.com/certificate/UC-b40f930d-d308-4c47-bd31-c3b98fcce89d/"
        certImage={reactCertImg.src}
      >
        <p>
          Completed an extensive 48-hours long React course to enhance skills
          and stay current with best practices.
        </p>

        <p class="mb-2">
          This self-guided learning effort proved instrumental upon joining
          Cognizant Softvision, enabling valuable contributions to a
          high-profile client project.
        </p>
        <CertificateLegacyNameNote />
      </CertificationCard>

      <CertificationCard
        title="The Complete SQL Bootcamp"
        issuedBy="Pierian Training (via Udemy)"
        issuedDate="January 2023"
        certUrl="https://www.udemy.com/certificate/UC-42309009-1c9c-4107-acb5-a925218b7f83"
        certImage={postgresCertImg.src}
      >
        <p>
          Motivated to advance their database expertise, Luciano completed an
          in-depth SQL course, showcasing strong skills in SQL database
          management.
        </p>
        <p>
          <em class="italic"
            >Note: Luciano was known as “Luciana” at that time.</em
          >
        </p>
      </CertificationCard>

      <CertificationCard
        title="EF SET English Certificate"
        issuedBy="EF Standard English Test"
        issuedDate="February 2023"
        certUrl="https://www.efset.org/cert/HbTawN"
        certImage={efSetEnglishCertImg.src}
      >
        <p class="mb-2">
          Highlighting Luciano's commitment to improving their English skills,
          they earned the EF SET English Certificate, showcasing their advanced
          fluency and proficiency in both written and spoken English.
        </p>

        <ul class="list-disc list-inside flex flex-col gap-2">
          <li>C2 Proficient 72/100</li>
          <li>Proficient in both spoken and written language.</li>
          <li>
            Comprehends fast-paced speech with regional accents and a range of
            written texts, including complex materials.
          </li>
        </ul>
        <CertificateLegacyNameNote />
      </CertificationCard>
    </Fragment>
  </ResumeBody>
</BaseLayout>
