---
import BlogPostShareButtons from "./BlogPostShareButtons.astro";
import BlogPostSubtitle from "./BlogPostSubtitle.astro";

export interface Props {
  publishDate: Date;
  title: string;
  summary: string;
  coverAlt?: string;
  coverImg?: string;
  readTimeMinutes: number;
}

const { publishDate, title, summary, coverAlt, coverImg, readTimeMinutes } =
  Astro.props;
  
const coverImageAvailable =
  coverImg && coverAlt && coverImg.length > 0 && coverAlt.length > 0;
---

<div>
  {
    coverImageAvailable && (
      <div class="mb-8">
        <img src={coverImg} alt={coverAlt} class="rounded-lg" />
      </div>
    )
  }

  <h1 class="text-3xl md:text-4xl font-bold font-display mb-8">{title}</h1>
  <BlogPostSubtitle
    publishDate={publishDate}
    readTimeMinutes={readTimeMinutes}
  >
    <BlogPostShareButtons title={title} summary={summary} />
  </BlogPostSubtitle>
</div>
