---
/*
 * SPDX-FileCopyrightText: 2025 Luciano Hillcoat <me@lucdev.net>
 * SPDX-License-Identifier: AGPL-3.0-only
 */

import { type CollectionEntry } from "astro:content";
import BlogPostShareButtons from "./BlogPostShareButtons.astro";
import BlogPostSubtitle from "./BlogPostSubtitle.astro";

type BlogPost = CollectionEntry<"blog">["data"];

export type Props = Pick<
  BlogPost,
  "title" | "summary" | "image" | "imageAlt" | "datePublished"
> & { readTimeMinutes: number };

const { datePublished, title, summary, imageAlt, image, readTimeMinutes } =
  Astro.props;

const coverImageAvailable =
  image && imageAlt && image.length > 0 && imageAlt.length > 0;
---

<div>
  {
    coverImageAvailable && (
      <div class="mb-8">
        <img
          src={image}
          alt={imageAlt}
          decoding="async"
          loading="lazy"
          class="rounded-lg"
        />
      </div>
    )
  }

  <h1 class="text-3xl md:text-4xl font-bold font-display mb-8">{title}</h1>
  <BlogPostSubtitle
    datePublished={datePublished}
    readTimeMinutes={readTimeMinutes}
  >
    <BlogPostShareButtons title={title} summary={summary} />
  </BlogPostSubtitle>
</div>
