---
/*
 * SPDX-FileCopyrightText: 2025 Luciano Hillcoat <me@lucdev.net>
 * SPDX-License-Identifier: AGPL-3.0-only
 */

import type { CollectionEntry } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";
import BlogPostHeader from "~/components/BlogPost/BlogPostHeader.astro";
import BlogPostTags from "~/components/BlogPost/BlogPostTags.astro";
import Head from "~/components/Head.astro";
import ProseContainer from "~/components/ProseContainer.astro";

export interface Props {
  post: CollectionEntry<"blog">["data"];
  readTimeMinutes: number;
}

const { post, readTimeMinutes } = Astro.props;

if (!post) {
  throw new Error("Post not supplied!");
}

const {
  title,
  tags,
  datePublished,
  dateModified,
  metaDescription,
  summary,
  imageAlt,
  image
} = post;
---

<BaseLayout>
  <Head
    slot="head"
    title={title}
    metaDescription={metaDescription ?? summary}
    image={image}
    imageAlt={imageAlt}
    datePublished={datePublished}
    dateModified={dateModified}
    isArticle={true}
  >
    <style is:global>
      @media (prefers-color-scheme: dark) {
        .astro-code,
        .astro-code span {
          color: var(--shiki-dark) !important;
          background-color: var(--shiki-dark-bg) !important;
        }
      }
    </style>
  </Head>
  <BlogPostHeader
    title={title}
    datePublished={datePublished}
    image={image}
    imageAlt={imageAlt}
    readTimeMinutes={readTimeMinutes}
  />

  <ProseContainer tagElement="article">
    <slot />
  </ProseContainer>

  <div class="mt-4 flex flex-col gap-1">
    <BlogPostTags tags={tags} />
  </div>
</BaseLayout>
