---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";
import BlogPostHeader from "~/components/BlogPost/BlogPostHeader.astro";
import BlogPostTags from "~/components/BlogPost/BlogPostTags.astro";
import Head from "~/components/Head.astro";

export interface Props {
  post: CollectionEntry<"blog">["data"];
  readTimeMinutes: number;
}

const { post, readTimeMinutes } = Astro.props;

if (!post) {
  throw new Error("Post not supplied!");
}

const {
  title,
  tags,
  datePublished,
  dateModified,
  metaDescription,
  summary,
  imageAlt,
  image
} = post;
---

<BaseLayout>
  <Head
    slot="head"
    title={title}
    metaDescription={metaDescription}
    image={image}
    imageAlt={imageAlt}
    datePublished={datePublished}
    dateModified={dateModified}
    isArticle={true}
  />
  <BlogPostHeader
    title={title}
    summary={summary}
    datePublished={datePublished}
    image={image}
    imageAlt={imageAlt}
    readTimeMinutes={readTimeMinutes}
  />

  <article
    class="prose dark:prose-invert prose-headings:font-display max-w-[unset]"
  >
    <slot />
  </article>

  <div class="mt-4 flex flex-col gap-1">
    <BlogPostTags tags={tags} />
  </div>
</BaseLayout>
