---
import type { CollectionEntry } from "astro:content";
import BaseLayout from "~/layouts/BaseLayout.astro";
import BlogPostHeader from "~/components/BlogPost/BlogPostHeader.astro";
import BlogPostTags from "~/components/BlogPost/BlogPostTags.astro";

export interface Props {
  post: CollectionEntry<"blog">["data"];
  readTimeMinutes: number;
}

const { post, readTimeMinutes } = Astro.props as Props;

if (!post) {
  throw new Error("Post not supplied!");
}

const {
  title,
  tags,
  pubDate,
  summary,
  coverAlt,
  coverImg,
} = post;

---

<BaseLayout title={title} description={summary} heroImg={ (coverImg && coverAlt) ? { src: coverImg, alt: coverAlt } : undefined }>
  <BlogPostHeader
    title={title}
    summary={summary}
    publishDate={pubDate}
    coverAlt={coverAlt}
    coverImg={coverImg}
    readTimeMinutes={readTimeMinutes}
  />

  <article class="prose dark:prose-invert prose-headings:font-display max-w-[unset]">
    <slot />
  </article>

  <div class="mt-4 flex flex-col gap-1">
    <BlogPostTags tags={tags} />
  </div>
</BaseLayout>
